<div class="container mt-4">
  <h2>Wallet of {{ username }}</h2>
  <p>Current Balance: <strong>{{ wallet.balance }} Taka</strong></p>

  <form (ngSubmit)="performAction()">
    <div class="form-group">
      <label>Method:</label>
      <select [(ngModel)]="wallet.method" name="method" class="form-control" required>
        <option value="MOBILE">Mobile</option>
        <option value="CARD">Card</option>
        <option value="BANK">Bank</option>
      </select>
    </div>

    <div *ngIf="wallet.method === 'MOBILE'" class="form-group mt-2">
      <label>Provider:</label>
      <select [(ngModel)]="wallet.provider" name="provider" class="form-control" required>
        <option value="BKASH">Bkash</option>
        <option value="NAGAD">Nagad</option>
        <option value="UPAY">Upay</option>
      </select>
    </div>

    <div class="form-group mt-2">
      <label>Number:</label>
      <input type="text" [(ngModel)]="wallet.number" name="number" class="form-control" required />
    </div>

    <div class="form-group mt-2">
      <label>Amount:</label>
      <input type="number" [(ngModel)]="amount" name="amount" class="form-control" required />
    </div>

    <div class="form-group mt-2">
      <label>Action:</label>
      <select [(ngModel)]="action" name="action" class="form-control">
        <option value="add">Add</option>
        <option value="withdraw">Withdraw</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary mt-3">{{ action === 'add' ? 'Add Balance' : 'Withdraw Balance' }}</button>
  </form>
</div>
